html{
    background-color: black;
    color: #fff;
}

.table table, td, th{
    border: 3px solid;
    padding: 15px 15px;
    border-spacing: 3px 3px;
    border-collapse: collapse;
    text-align: center;
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}